
body, h1, h2, p, label, input, select, button {
  margin: 0;
  padding: 0;
  font-size: medium;
}

body {
  font-family: 'Arial', sans-serif;
}

.form {
  max-width: 450px; 
  margin: 50px auto;
  padding: 40px;
  border: 1px solid #1f1c1c;
  border-radius: 10px;
}

h2 {
  font-size: 24px; 
  margin-bottom: 25px; 
}

label {
  display: block; 
  margin-bottom: 8px; 
}

input, select {
  width: 100%;
  padding: 8px; 
  margin-bottom: 12px; 
  box-sizing: border-box; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
}

button {
  background-color: rgb(177, 15, 86);
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto; 
}

.gender-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px; /* Adjust the margin as needed */
}

.gender-options input[type="radio"] {
  margin-right: 0px; /* Adjust the margin between radio buttons as needed */
}

.popup {
width: 400px;
background: #fff;
border-radius: 6px;
position:absolute;
top: 0;
left: 50%;
transform: translate(-50%, -50%) scale(0.1);
text-align: center;
padding: 0 30px 30px; /* Adjust padding as needed */
color: #333;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.555);
visibility: hidden;
transition: transform 0.4s, top 0.4s;
}

.open-popup{
visibility:visible;
top: 50%;
transform: translate(-50%, -50%) scale(1);
}

.popup img {
width: 100px;
border-radius: 50%;
margin-top: -50px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
color: rgb(177, 15, 86);
}

.popup p {
color: #333333;
}

.popup button {
background-color: rgb(177, 15, 86);
color: #fff;
padding: 10px 15px;
border: none;
border-radius: 4px;
cursor: pointer;
margin-top: 15px; /* Adjust margin-top as needed */
}


